html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.main-content {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
}

.main-img {
    height: 100vh;
    width: 65vw;
}

.logo {
    width: 6rem;
    margin-bottom: 3rem;
}

.register-subtitle {
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.6)
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2.5rem;
}

.input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.6) solid;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.inputs-text {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}

.second {
    color: #2559D2;
    cursor: pointer;
}

.register-btn {
    width: 100%;
    background-color: #2559D2;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    margin-top: 7rem;
}

.inputs-text {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.3rem;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}