html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Steradian Trial', sans-serif;
    transition: 0.2s;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(0.8);
}

.main-content {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 3rem;
    background-color: white;
    border-radius: 1rem;
}

.logo {
    width: 5rem;
    margin-bottom: 1.5rem;
}

.logo-icon {
    width: 100%;
}

.register-text {
    width: 100%;
}

.register-title {
    font-size: 1.6rem;
}

.register-subtitle {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.6)
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.7rem;
}

.input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.4) solid;
    color: black;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.inputs-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.4);
}

.second {
    color: #2559D2;
}

.register-btn {
    width: 100%;
    background-color: #2559D2;
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    margin-top: 3rem;
    border: #2559D2 solid 3px;
}

.register-btn:hover {
    color: #2559D2;
    background-color: transparent;
}

.inputs-text2 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.7rem;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}