html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.6rem 7.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
    margin-left: 6.4rem;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn1 {
    color: #2559D2;
    border: #2559D2 solid 2px;
    background-color: transparent;
    padding: 0.6rem 1.1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn2 {
    color: white;
    border: #2559D2 solid 2px;
    background-color: #2559D2;
    padding: 0.6px 1.1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.main-title {
    font-size: 3.5rem;
    text-align: left;
}

.main-title-span {
    color: #2559D2;
}